* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: #20232a;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 0px 0px 200px 200px;
}

img {
  width: 200px;
  height: 200px;
}

.cursor {
  cursor: pointer;
}